/* .App {
  background-color: black;
  display: flex;
  display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
	align-content: stretch;
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color:rebeccapurple;
} */
/* 
.App-link {
  color:rebeccapurple;
} */

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
body{
  background-color: rgb(225, 241, 227);
}

.Page{
  width: 90vw;
  margin: 5%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
	justify-content: center;
  align-items: center;
  /* background-color: cornflowerblue; */
}

.Page > h1{
  -webkit-text-fill-color: rgba(147, 220, 229, 0.835);
  -webkit-text-stroke-color: black;
  -webkit-text-stroke-width: 2px;
  font-style: oblique;
  letter-spacing: 10px;
  font-size: 45px;
}

.Shoestoshow{
  margin: 15px;
  width: 80vw;
  height: 100%;
  display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
}

.Shoestoshow > img{
  width: 100%;
  height: 350px;
  border: rgba(167, 228, 236, 0.835);
  border-style: ridge;

}

.Shoestoshow > span{
  width: 100%;
  font-size: 25px;
  font-weight: bolder;
  font-style: italic;
  display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
  /* background-color: coral; */
  background-color: white;
  border: rgba(167, 228, 236, 0.835);
  border-style: groove;
  -webkit-text-fill-color: rgba(161, 228, 235, 0.924);
  -webkit-text-stroke-color: seagreen;
  -webkit-text-stroke-width: 1px;
  background-color: blanchedalmond;
}


.Buttons{
  width: 40%;
  margin: 15px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  /* background-color: red; */
}

.Buttons > button{
  width: 5vw;
  color:red;
  background-color:black;
}

.EditShoeS > button{
  width: 5vw;
  background-color: black;
  color: red;
}

.Buy{
  width: 80vw;
  -webkit-text-stroke-color: rgba(168, 133, 233, 0.918);
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-fill-color: rgba(127, 213, 235, 0.911);
  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-evenly;
  align-items: center;
  border: rgba(245, 154, 202, 0.938);
  border-style: dotted;
  border-width: thick;
  border-radius: 40%;
  font-size: 20px;
  font-weight: bolder ;
  font-style: italic;
}

.EditShoeS{
  display: inline-block;
}

.ShoesListS{
  /* background-color: seagreen; */
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}